/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* Colors */
:root{

    /* Primary */
    --Strong-Cyan: #26baa4;
    --Light-Blue: hsl(233, 100%, 69%);

    /* Neutral */
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

}

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
body{
    text-align: center;
    min-width: 320px;
}
h1{
    margin: 50px auto 30px;
 }
 h1,h2,h3{
     color: var(--Dark-Grayish-Blue);
 }
h2, h3{
    font-size: 2rem;
    margin: 20px 0px;
}
h3{
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}

/* Header */
.desc{
    color: var(--Grayish-Blue);
    line-height: 1.77rem;
    font-size: 1.17rem;
    margin: 20px 0;
}
header{
    background: url("images/bg-header-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 15px 40px;
}
.header-desc{
    line-height: 1.7rem;
    font-size: 1.17rem;
    width: 100%;
    max-width: 620px;
    margin: 30px auto;
}
.header-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.header-links a{
    background: var(--Strong-Cyan);
    margin: 0px auto;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1.25rem;
    width: fit-content;
    color: white;
    text-decoration: none;
}
.header-links a:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.header-link:last-child{
    background: var(--Light-Blue);
}


/* Main */
main{
    padding: 0px 10px;
}

/* Service Wrapper */
.service-wrapper{
    margin: 0 auto;
}

/* Service Container */
.service-container{
    margin: 150px 0px 0px;
}
.service-desc,.subservice-desc{
    max-width: 360px;
    margin: 0 auto;
}
.service-img img{
    width: 350px;
    margin: 50px auto;
}

/* Subservice Container */
.subservice-container{
    margin-top: 70px;
}
.subservice{
    margin: 50px auto 0px;
    width: fit-content;
    
}
.subservice img{
    margin: 20px 0px;
}

/* Companies Wrapper */
.companies-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 110px;
}
.companies-wrapper img{
    margin: 30px 0px;
}

/* Clipboard Container */
.clipboard-container{
    margin: 150px 0px;
}
.clipboard-container .header-links{
    margin-top: 40px;
}

/* Footer */
footer{
    background-color: rgb(220, 224, 224);
    padding: 50px 50px 0px 50px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    place-content: center;
    justify-content: center;
}
#footer-logo{
    width: 70px;
    align-self: center;
    margin: 0 auto;
}
.footer-links{
    display: grid;
    grid-template-rows: repeat(5, auto);
    margin: 40px 0px;
}
.footer-links a{
    margin: 10px 0px;
    font-size: 1.3rem;
    color: var(--Dark-Grayish-Blue);
}
.social-links a{
    margin: 0 10px;
}

/* Attribution */
.attribution { 
    font-size: 1rem; 
    text-align: center; 
    width: 100%;
    align-self: flex-end;
    margin: 50px 0px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Media Queries */
@media (max-width: 400px) {
    .service-img img{
        width: 250px;
    }
}
@media (min-width: 1000px) {

    /* Header */
    header{
        width: 100%;
        background: url("images/bg-header-desktop.png")  cover no-repeat;
        padding: 100px 0px 50px;
    }
    .header-desc{
        width:640px;
        margin: 30px auto;
    }
    .header-links{
        flex-direction: row;
        width: fit-content;
        margin: 0 auto;
    }
    .header-links a{
        padding: 15px 50px;
    }

    /* Service Container */
    .service-container{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        align-items: center;
        max-width: 1300px;
        margin: 0 auto;
    }
    .service-subcontainer{
        text-align: start;
    }
    .service-head{
        grid-column: span 2;
    }
    .service-desc{
        max-width: 950px;
        margin: 0 auto;
    }
    .subservice-desc{
        max-width: 395px;
        margin: 0;
    }
    .service-img img{
        width: 700px;
        margin: 70px 0px 50px -50px;
    }
    .subservice-container{
        margin: 0;
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-content: center;
        align-items: baseline;
        column-gap: 0vw;
    }

    /* Clipboard Container */
    #clipboard-container{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        place-content: center;
        align-items: center;
    }
    #clipboard-img img{
        width: 900px;
        align-items: center;
        margin: 70px 0 0;
    }

    /* Companies Wrapper */
    .companies-wrapper{
        margin: 140px 0px;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Footer */
    footer{
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        place-content: center;
        align-items: center;
        column-gap: 4vw;
        text-align: start;
    }
    .footer-links{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 7vw;
    }
    footer a:hover{
        color:var(--Strong-Cyan);
    }
    .social-links a:hover img{
        filter: invert(74%) sepia(33%) saturate(6800%) hue-rotate(126deg) brightness(98%) contrast(70%);
    }

    /* Attribution */
    .attribution{
        grid-column: span 3;
        margin: 0 0 20px;
    }
}
@media (min-width: 1440px) {
    .service-img img{
        width: 1000px;
        margin: 70px 0px 50px -15vw;
    }
    #clipboard-img img{
        width: 1000px;
    }
    footer{
        column-gap: 13vw;
    }
    .footer-links{
        column-gap: 10vw;
    }
}
